<connectionStrings>
  <add 
    name="DefaultConnection" 
    connectionString="Data Source=.; Initial Catalog=eTools; Integrated Security=True" 
    providerName="System.Data.SqlClient" />
  <add
    name="eToolsDB"
    connectionString="Data Source=.; Initial Catalog=eTools; Integrated Security=true"
    providerName="System.Data.SqlClient"/>
  <!--In the event SQL server configuration did not use the default "." as the name, replace in above connectionString-->
</connectionStrings>
